/* colours */

$color-primary-yellow: #f7ef6a;
$color-primary-green: #93c178;
$color-primary-error: orangered;

$color-bg-light: #f7f7f7;
$color-bg-dark: #dfdce3;

$color-white: white;
$color-black: black;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7aa1f5;
$color-tertiary-dark: #40547e;

$color-grey-dark: #444;
$color-grey-light: #888;



// FONT
$default-font-size: 1.6rem;
