.section-about {
    background-color: $color-bg-light;
    padding: 25rem 0;
    margin-top: -20rem;
    display: flex;
    flex-direction: column;
}
.container-about {
    display:flex;
    justify-content: space-around;
}

.about-text {

text-align: center;
}

.portfolio-images {
    text-align: center;
}

.tech-stacks-features {
    display:flex;
    justify-content: center;
    padding: 30rem 0;
    background-image: linear-gradient(
        to right bottom,
         rgba($color-primary-yellow, 0.8),
        rgba($color-primary-green, 0.8)),
        url(../images/gold_leaves.jpg);
        background-size: cover;
    clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
    margin-top: -20rem; 
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
}
.section-skills {
    
    align-content: center;
    background-color: $color-bg-light;
    padding: 25rem 0 50rem 0;
}

.section-book {
    padding: 15rem;
    background-image: linear-gradient(to right bottom, $color-primary-green, $color-primary-yellow);
}

.book {
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, .95) 0%,
                                    rgba($color-white, .95) 50%,
                                    transparent 50%) ,
                                    url( ../../images/gold_leaves.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}


